* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: grey;
}

body {
}
.container img {
  /* position: relative;
  top: 50px; */
}

input[type="email"]:invalid {
  border: 1px solid red; /* Change border color to red */
}

.container {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  flex: 1; /* Equal width for both boxes */
  border: 1px solid #ccc;

  margin: 10px;
  position: relative;
  top: 1rem;
  left: 1rem;
  text-align: center;
}

.box img {
  width: 95%;
  height: 95%;
  /* object-fit: cover; */
}

.item5 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 2rem;
}

.item6 {
  grid-row-start: 2;
  grid-row-end: 4;
  line-height: 2rem;
}

.item8 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  line-height: 2rem;
}

.item2,
.item3,
.item4,
.item1,
.item7 {
  line-height: 2rem;
  padding: 4px;
  position: relative;
  top: 5px;
}

.item6 form input {
  width: 90%;

  border: 2px solid black;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
}

.item6 button {
  width: 90%;
  background-color: red;
  border: 2px solid black;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-weight: bolder;
  font-size: 20px;
}

.item8 {
  padding: 2rem;
  line-height: 2rem;
  margin: 12px;
}

/* .item2 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item3 {
  grid-column-start: 2;
  grid-column-end: 3;
} */
